.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

.clipping-container {
  position: relative;
  margin-bottom: 12px;
  padding: 12px;
  width: 250px;
  overflow: hidden;
}



.busy-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db; /* Change the color if needed */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  z-index: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.categoryTable{
  border:1px solid black;
}
.categoryTable td{
  padding:10px;
  border:1px solid black;
}
.categoryTable th{
  padding:10px;
  border:1px solid black;
}

.dialog-form-container {
  width: 100%; /* Adjust width as needed */
  margin: 0 auto; /* Center the form horizontally */
  padding: 10px;
}



.input-form-control,
.category-form-control-textarea {
  width: calc(100% - 18px); /* Adjust for padding and border */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
}
.category-form-control-textarea {
  min-height: 100px;
  resize: vertical;
}

.btn-add:hover {
  background-color: #0056b3;
}